<!-- <form [formGroup]="FormData" (ngSubmit)="send()">
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="from_name" />
    <label for="email">Email Address:</label>
    <input type="email" id="email" formControlName="from_email" />
    <label for="subject">Subject: </label>
    <input type="text" id="subject" formControlName="Subject" />
    <label for="body">Email Body:</label>
    <textarea id="body" formControlName="message"></textarea>
    
    <button type="submit">Send Email</button>
</form>
  -->
<div class="body">
  <section class="container">
    <header>Registration Form</header>
    <form class="form" [formGroup]="FormData" (ngSubmit)="send()">
      <div class="input-box">
        <label>Full Name</label>
        <input type="text" placeholder="Enter full name"  formControlName="to_name"/>
      </div>
      @if(FormData.controls['to_name'].dirty && FormData.hasError('required','to_name')){
        <small>*Name is required</small>
      }
      
      <div class="input-box">
        <label>Email Address</label>
        <input type="text" placeholder="Enter email address"  formControlName="to_email"/>
      </div>
      @if(FormData.controls['to_email'].dirty && FormData.hasError('required')){
        <small>*Email is required</small>
      }
      <div class="column">
        <div class="input-box">
          <label>Phone Number</label>
          <input type="number" placeholder="Enter phone number"  formControlName="number"/>
        </div>
      </div>
      @if(FormData.controls['number'].dirty && FormData.hasError('required','number')){
        <small>*Number is required</small>
      }
      <div class="column">
        <div class="input-box">
          <label>Password</label>
          <input type="password" placeholder="Enter Password"  formControlName="password"/>
        </div>
      </div>
      @if(FormData.controls['password'].dirty && FormData.hasError('required','password')){
        <small>*Password is required</small>
      }
      
      <button type="submit" [disabled]="!FormData.valid" (click)="submit()">Register</button>
    </form>
  </section>
</div>
<router-outlet></router-outlet>